.footer {
    text-align: center;
    padding: 20px ;
background-color: rgb(255, 255, 255);


.nav{
    justify-content: flex-end;

    ul{
        display: flex;
      
        padding: 0px 40px 20px 40px; /* 移除預設的內邊距 */
        align-items: center;
        justify-content: flex-end;
      
        
    }
    
    li {
        margin-right: 40px; /* 給每個項目添加間距，以防止它們貼在一起 */
       
    }
}



    hr {
        border-top: 1px solid #212529;
        margin-bottom: 10px;
    }
    
    .copyright {
        font-size: 14px;
        color: #212529;
    }
}