header {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    padding: 40px 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; /* 將 header 水平置中 */
.nav {



ul{
    display: flex;
  
    padding: 0px 40px; /* 移除預設的內邊距 */
    align-items: center;
    justify-content: center;
    margin: 0 auto;/* 將  水平置中 */
    
}

li {
    margin-right: 40px; /* 給每個項目添加間距，以防止它們貼在一起 */
   
}


}


.nav li:last-child {
    margin-right: 0; /* 移除最後一個項目的右邊距，以防止產生不必要的間距 */
}



.hamburger-menu{
  
 }

}


