.ue{
    padding: 40px 12px;
    
    }

.about{
    justify-content: center;
background-color: rgb(255, 255, 255);




.about_L{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 
}

.about_R{

    display: flex;
    justify-content: center;
    .img{
        padding: 20px;
    }

}

}



.UIUX{
background-color: rgb(255, 255, 255);

.uiue_ue{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .uiux_p {
        width: 320px;
        height: 240px;
        background-color: rgb(172, 172, 172);
        margin: 30px auto;
    }

}


.col-md-1 {
    background-color: rgb(255, 255, 255);
}

}


.DESIGN{

    background-color: rgb(255, 255, 255);

.de_ue{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    
    .de_p {
        background-color: bisque;
        width: 320px;
        height: 240px;
        background-color: rgb(199, 199, 199);
        margin: 30px auto;
    
    }
    
}




}