.iro_2317{

.container{


    .sarita-box05{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    img {
        max-width: 100%;
    }
}



.sarita-box06{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}


}