@import '_navbar.scss';
@import'_footer.scss';
@import'index.scss';
@import'_uiux.scss';
@import'_butten.scss';     
@import'_about.scss';
@import'_design.scss';
@import'_iroiro.scss';
@import '_variable.scss';





@media(min-width:$sm){
    
    body{
        
        background-color: rgb(255, 255, 255);
    }

}


@media (max-width:$sm) {
    .nav {
      display: none;
    }
  }



body {
    font-family: 'Noto Sans TC', sans-serif;
}


body{
  background-image: url(../img/img_bg_unionb.png),url(../img/img_bg_union2b.png) ;
  background-position: left  top ,left  bottom -1500px ;
  background-size: contain,cover;
  background-repeat: no-repeat,no-repeat;
}





ul ,ol{
    list-style-type: none; /* 移除點點符號 */
    margin: 0;
    padding: 0;

  }


  a {
    text-decoration: none; /* 去除底線 */
    color: inherit; /* 使用父元素的文字顏色 */
}

.blank {
  width: auto;
  height: 120px;
}

